<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= title || "DeskApp | Change Password" %></title>
		<link rel="apple-touch-icon" sizes="180x180" href="/vendors/images/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/vendors/images/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/vendors/images/favicon-16x16.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/vendors/styles/core.css" />
		<link rel="stylesheet" type="text/css" href="/vendors/styles/icon-font.min.css" />
		<link rel="stylesheet" type="text/css" href="/vendors/styles/style.css" />
		<link rel="stylesheet" type="text/css" href="/vendors/styles/password-toggle.css" />
	</head>
	<body class="header-white sidebar-light">
		<%- include('../loader/loader.ejs') %>
		<%- include('../partials/header.ejs') %>

		<div class="right-sidebar">
			<div class="sidebar-title">
				<h3 class="weight-600 font-16 text-blue">
					Layout Settings
					<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
				</h3>
				<div class="close-sidebar" data-toggle="right-sidebar-close">
					<i class="icon-copy ion-close-round"></i>
				</div>
			</div>
			<div class="right-sidebar-body customscroll">
				<div class="right-sidebar-body-content">
					<h4 class="weight-600 font-18 pb-10">Header Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
						<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
					</div>
					<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light">White</a>
						<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
					</div>
					<div class="reset-options pt-30 text-center">
						<button class="btn btn-danger" id="reset-settings">Reset Settings</button>
					</div>
				</div>
			</div>
		</div>

		<%- include('../partials/leftsidebar.ejs') %>
		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">
									<h4>Change Password</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
										<li class="breadcrumb-item"><a href="/profile">Profile</a></li>
										<li class="breadcrumb-item active" aria-current="page">Change Password</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 mb-30">
							<div class="card-box pd-30">
								<h4 class="text-blue h4 mb-10">Update your account password</h4>
								<p class="text-muted mb-30">After password change, you will be redirected to login page again.</p>

								<% if (error) { %>
									<div class="alert alert-danger"><%= error %></div>
								<% } %>

								<form action="/change-password" method="POST">
									<div class="form-group">
										<label>Old Password</label>
										<div class="input-group custom password-toggle-group">
											<input class="form-control form-control-lg" type="password" id="oldPassword" name="oldPassword" placeholder="Enter old password" required />
											<div class="input-group-append custom">
												<span class="input-group-text password-toggle-btn" data-target="oldPassword"><i class="fa fa-eye"></i></span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>New Password</label>
										<div class="input-group custom password-toggle-group">
											<input class="form-control form-control-lg" type="password" id="newPassword" name="newPassword" placeholder="Enter new password" required />
											<div class="input-group-append custom">
												<span class="input-group-text password-toggle-btn" data-target="newPassword"><i class="fa fa-eye"></i></span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Confirm Password</label>
										<div class="input-group custom password-toggle-group">
											<input class="form-control form-control-lg" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" required />
											<div class="input-group-append custom">
												<span class="input-group-text password-toggle-btn" data-target="confirmPassword"><i class="fa fa-eye"></i></span>
											</div>
										</div>
									</div>
									<div class="form-group mb-0 d-flex align-items-center justify-content-between flex-wrap">
										<a href="/profile" class="btn btn-light">Back To Profile</a>
										<button type="submit" class="btn btn-primary">Change Password</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<%- include('../partials/footer.ejs') %>
			</div>
		</div>

		<script src="/vendors/scripts/core.js"></script>
		<script src="/vendors/scripts/script.min.js"></script>
		<script src="/vendors/scripts/process.js"></script>
		<script src="/vendors/scripts/layout-settings.js"></script>
		<script src="/vendors/scripts/password-toggle.js"></script>
	</body>
</html>
